AI-Powered Job Opportunity Email Detector with Slack Notifications.json
{
  "name": "AI-Powered Job Opportunity Email Detector with Slack Notifications",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "filters": {}
      },
      "id": "895339b1-80ba-4426-bfc5-99d758ae5d34",
      "name": "When Email Received",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        624,
        48
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "h8ELq31mjLVthosF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following email and determine if it contains a job opportunity. Look for keywords like job posting, hiring, position available, career opportunity, job opening, recruitment, etc. Email Subject: {{ $('When Email Received').item.json.subject }} Email Body: {{ $('When Email Received').item.json.snippet }}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "6244af6a-a23f-4d14-9c19-8734ccc28e8d",
      "name": "Analyze Email for Job Opportunity",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        848,
        48
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "fef48934-fbf2-4168-8acd-75f0e232bcb1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        272
      ],
      "credentials": {
        "openAiApi": {
          "id": "4cvgICoioyvU8BDE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"isJobOpportunity\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether the email contains a job opportunity\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Brief summary of the job opportunity if found\"\n    }\n  }\n}"
      },
      "id": "94c7e77b-28ae-4cfb-a460-294e5ca266c3",
      "name": "Job Detection Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        976,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Analyze Email for Job Opportunity').item.json.output.isJobOpportunity }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "746120df-651c-4c21-ba4d-f3c46cee1e85",
      "name": "Is Job Opportunity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        48
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-mememe",
          "mode": "name"
        },
        "text": "=🎯 Job Opportunity Detected!\n\n*Subject:* {{ $('When Email Received').item.json.Subject }}\n*From:* {{ $('When Email Received').item.json.From }}\n*Summary:* {{ $('Analyze Email for Job Opportunity').item.json.output.summary }}",
        "otherOptions": {}
      },
      "id": "97cc94e2-e759-442e-a8b9-234485d04fa8",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1424,
        48
      ],
      "webhookId": "1f32133b-b572-4b5b-9ffe-b0a1de419bf9",
      "credentials": {
        "slackOAuth2Api": {
          "id": "dnSzuA3KgNsHY1wB",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "When Email Received": [
      {
        "json": {
          "id": "19a49fa447d49468",
          "threadId": "19a49fa447d49468",
          "snippet": "ah my god there is a job for you call 7875109392 for more info",
          "payload": {
            "mimeType": "text/html"
          },
          "sizeEstimate": 11872,
          "historyId": "3031380",
          "internalDate": "1762177729000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Subject": "Your API usage limits have increased",
          "From": "OpenAI <noreply@tm1.openai.com>",
          "To": "gbonillafaberlle@gmail.com"
        }
      }
    ]
  },
  "connections": {
    "When Email Received": {
      "main": [
        [
          {
            "node": "Analyze Email for Job Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Email for Job Opportunity",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Job Detection Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyze Email for Job Opportunity",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Email for Job Opportunity": {
      "main": [
        [
          {
            "node": "Is Job Opportunity?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Job Opportunity?": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2f55658b-0954-4021-b2a5-252bddff0ec2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df3ab002839ab0824076c5179eff700abf85581df397a2e0b162987a2eee0e84"
  },
  "id": "dM0vhKY0partvJRb",
  "tags": []
}